
table {
    width:60%;
    border-collapse: collapse;
    margin: 0px;
    border-width: 50pt;
    border:50px;
    border-collapse: collapse;
       

}
    img {
      width: 150px;
      height: auto;
    }
tr,th,td{
    border: 5px;
    padding: 5pt;
    border-style: dashed;
}
